.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 37px;
    &-col2 {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        column-gap: 30px;
    }
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 68px;
    h2 {
        text-align: left;
    }
}
