.lineProduct {
    margin-top: 128px;
    padding-top: 100px;
    border-top: 1px solid #C5CBE2;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }
    &__item {
        max-width: 538px;
        height: 530px;
        padding: 64px 124px 249px 62px;
        background: url(../../img/lineProduct/readybg1.png) center center/cover no-repeat;
        box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.08);
        border-radius: 8px;
        &:last-child {
            background: url(../../img/lineProduct/readybg1.png) center center/cover no-repeat;
        }
    }
    &__text {
        font-size: 24px;
        line-height: 31px;
        color: #3A3A3C;
        margin-top: 40px;
    }
    &__content {
        button {
            font-size: 14px;
            line-height: 150%;
            margin-top: 33px;
            svg {
                position: relative;
                top: 2px;
                left: -5px;
            }
            &:hover svg {
                animation-name: arrow;
                animation-duration: 0.3s;
            }
        }
    }
}